:root{
    --white:#FFFFFF;
    --black:#000000;
    --lightgrey:#D1D9E0;
    --darkgray:#59636E;
    --gray:#ecebeb;
    --blue:#4883DB;
    --orange:#FFB964;
}
h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 24px !important;
    font-weight: bold;
    color: var(--darkgray);
    margin: 0;
}
.title h2{
    font-size: 24px;
}
.offcanvas .navbar-nav .nav-link{
    margin-left: 20px;
}
.offcanvas .navbar:last-child{
    padding: 15px 0 72px 0;
}
.offcanvas .navbar:last-child .navbar-nav .nav-link {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #E8EBEE;
}
.banner{
    width: 100%;
    max-width: 1076px;
}
.banner-title h3{
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    opacity: 1;
}
.secret-scan-table{
    width: 1076px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secret-scan-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 174px 21px 22px;
    background-color: #F6F8FA;
    border: 1px solid var(--lightgrey);
}
.secret-scan-head .head-title{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}
.secret-scan-body{
    border: 1px solid var(--lightgrey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 20px;
}
.secret-scan-details{
    display: flex;
    align-items: center;
    justify-content: center;
}
.secret-scan-details h5{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    margin: 0 0 0 7px;
}
.secret-scan-details p{
    margin-left: 13px;
    padding: 2px 14px;
    border: 1px solid var(--lightgrey);
    border-radius: 10px;
    color: #59636E;
}
.secret-crud-details{
    display: flex;
    align-items: center;
    justify-content: center;
}
.secret-crud-details button{
    background-color: transparent;
    border: none;
    margin-left: 14px;
}
.secret-crud-details button:first-child{
    margin-left: 0px;
}