body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background-color: #F6F8FA;
}

.offcanvas.offcanvas-start.show {
  background-color: #F6F8FA;
  border-right: 1px solid var(--lightgrey);
  min-height: calc(100vh - 150px);
}
.banner {
  padding-top: 36px !important;
}
